#qd1{
    height: 300px;
    width: 300px;
    background-color: aquamarine;
}

#qd2{
    height: 300px;
    width: 300px;
    background-color: lightgray;
}

#qd3{
    height: 300px;
    width: 300px;
    background-color: violet;
}